@using System.IO
@{
    var TAGS_SETTINGS = new Dictionary<string, Dictionary<string, string>>{
        {"Discord 活動", new Dictionary<string, string>{
            {"Order", "1"},
            {"Color", "rgb(83, 46, 207)"},
            {"Url", "activity"}
        }}};
}
<script>
    var tagSettings = {
        @foreach(var tag in TAGS_SETTINGS){
            <text>
            "@Html.Raw(tag.Key)": {
                @foreach(var value in tag.Value) {
                    <text>
                        "@Html.Raw(value.Key)": "@Html.Raw(value.Value)",
                    </text>
                }
            },
            </text>
        }
    }
</script>


<nav class="tags">
    <ul>
        <li>全部</li>
        @foreach(var tag in Document.GetList<string>("AllTags").OrderBy(tag => int.Parse(TAGS_SETTINGS[tag]["Order"]))){ 
            <li data-url="@TAGS_SETTINGS[tag]["Url"]">@tag</li> 
        }
    </ul>
</nav>